# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Airflow logs
logs/

# Datos generados (se recrean con el pipeline)
include/output/

# Notebooks checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
